@charset "utf-8";
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;
}
#anh{
	width: 100%;
	height: 100%;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
#anh #hinhslide{
	width: inherit;
	max-height: 300px;
}
#anh #previous{
	position: absolute;
	top: 120px;
	left: 0px;
	width: 28px;
	height: 44px;
	display: none;
}
#anh #next{
	position: absolute;
	top: 120px;
	right: 0px;
	width: 28px;
	height: 44px;
	display: none;
}
#anh:hover #previous{
	display: block;
	opacity: 40%;
	cursor: pointer;
}
#anh:hover #next{
	display: block;
	opacity: 40%;
	cursor: pointer;
}
